:root{
    --primary-color-200:#bbf7d0;
    --second-color-400:#4ade80;
    --third-color-700:#15803d;
    --dark-color:#052e16;
    --black-text:#27272a;
}

*P{
    margin: 0;
    padding: 0;
}
.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 1fr;
    gap: 5px;
}
.primary-header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    display: flex;
    background-color: grey;
    justify-content: space-between;
}
/* lens & search bar icon resize */

ul.left,li{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 5px;
    background-color: greenyellow;
}
.search-icon > img {
    width: 40px;
    height: 40px;
}
.search-bar > img {
    width:px;
}
ul.right,li {
    display: flex;
    gap: 5px;
    background-color: red;
    list-style: none;
}

.second-header{
    grid-column: 1 / 4;
    grid-row: 2 / 3;

}

.sidebar{
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.content{
    grid-column: 2 / 4;
    grid-row: 3 / 4;

}