:root{
    --primary-color-200:#e4e4e7;
    --second-color-400:#a1a1aa;
    --third-color-700:#3f3f46;
    --red-variant:#fee2e2;
    --dark-color:#052e16;
    --black-text:#52525b;
}

*P{
    margin: 0;
    padding: 0;
}
.main-container{
    display: grid;
    grid-template-columns: 250px 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 1fr;
    gap: 5px;
}
.primary-header {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
}
/* lens & search bar icon resize */

.primary-header ul.left, ul.left li{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.search-icon > img {
    width: 40px;
    height: 40px;
    opacity: 0.7;
}
ul.left li .search-bar {
    display: flex;
    width: 550px;
    height: 30px;
    border-radius: 30px;
    background-color: #E2E8F0;
    justify-content: center;
    align-items: center;
}
.primary-header ul.right, ul.right li{
    display: flex;
    gap: 10px;
    list-style: none;
    align-items: center;
}
.right li.bell img {
    width: 24px;
    height: 24px;
    opacity: 0.7;
}

.profile {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
.profile  > img {
    width: 100%;
    height: 100%;
}

ul.right li > p {
    width: max-content;
    height: auto;
    font-weight: bold;
}

.second-header{
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.second-header .left {
    display: flex;
    gap: 10px;
}
.second-header .right button {
    width: 100px;
    height: 35px;
    border-radius: 30px;
    background-color: var(--primary-color-200);
    border: none;
    font-weight: 600;
}
.second-header .right {
    display: flex;
    gap: 20px;
}
.sidebar{
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--red-variant);
}
.sidebar .dashboard-icon{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}
.sidebar .dashboard-icon p {
    font-size: 24px;
    font-weight: bold;
    color: var(--dark-color);
}
.sidebar .dashboard-icon img {
width: 50px;
height: 50px;
}
.sidebar ul.nav ul, ul.nav li {
    display: flex;
    list-style: none;
}
ul.customization , ul.customization li {
    display: flex;
    list-style: none;
    flex-direction: column;
}
.icon-item {
    display: flex;
    align-items: center;
}
.icon {
    width: 25px;
    height: 25px;
    margin-right: 20px;
}


.content-container{
    grid-column: 2 / 5;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
    background-color: var(--primary-color-200);
    gap: 30px;
}
.content-container .header {
    grid-column:1 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
}
.content-container .projects {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.projects .card-container {
    width: 320px;
    height:200px;
    display: flex;
    border-radius: 5px;
    background-color: white;
}
.side-color {
    width:15px;
    height: 100%;
    background-color: orange;
    border-radius: 5px 0 0 5px;
}
.side-color + div {
    margin:0 15px 0 10px;
}
p.title {
    font-weight: bold;
    margin-bottom: 0;
}
.content > p {
    margin-top: 5px;
    line-height: 1.5;
    word-spacing: 2px;
    color: var(--black-text);
}
.card-container .card-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}
.project-icon {
    width: 24px;
    height: 24px;
}
.content-container .announcements {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
}

.announcements > .container {
    width: 200px;
    height: 280px;
    border-radius: 10px;
    background-color: white;
    padding: 25px;
    font-size: 13px;
    color: var(--black-text);
}
.announcements .content {
    width: 100%;
    line-height: 1.3;
}
.line {
    width: 100%;
    height: 1px;
    background-color: var(--primary-color-200);
    margin: 10px 0;
}